html {
    font-size: 16px;
}

body {
    /*font-family: "Open Sans", sans-serif;*/
    margin: 2rem;
}

h1 {
    text-align: right;
}

h2 {
    padding-bottom: 3rem;
}

.container-fluid {
    padding: 2rem;
}

.navigate-buttons {
    text-align: right;
    padding-top: 2rem;
}

.weather-data {
    text-align: center;
    margin-top: 1rem;
}

.weather-header {
    text-align: left;
}

#weatherChart {
    width: 75vw !important;
    height: 75vh !important;
}

.weather-chart {
    display: flex;
    justify-content: center;
}
.form-control {
    width: 5rem;
    background-color: lightyellow;
    margin: 0.8rem;
    border: none;
}

.max {
    background-color: lightgrey;
}

.min {
    background-color: lightgrey;
}

.avg {
    background-color: lightyellow;
}

.totalPower {
    text-align: right;
    margin-left: 58rem;
    margin-bottom: 5rem;
}

.power {
    float: right;
    padding: 1rem;
    width: 62rem;
}
#totalPower {
    background-color: #D3D3D3;
    border-radius: 1.5rem;
    height: 3rem;
    width: 20rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 58rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    padding-top: 0.8rem;
}
.tableOne .tableThree{
    margin-bottom: 3rem;
}

.temp {
    display: inline-block;
}


.zone2 {
    background-color: lightyellow;
    margin: 1rem;
    border: none;
}

label {
    width: 20rem;
    font-weight: lighter;
}

.custom-range {
    width: 40%;
    margin: 1rem;
}

.row-buttons {
    display: flex;
    justify-content: center;
}

.row-buttons-report {
    text-align: right;
}



.electrical-consumption-chart {
    display: flex;
    justify-content: center;
}

.year-report {
    text-align: right;
    margin: 2rem;
    padding-right: 20rem;
    font-size: 1.5rem;
}

.row-buttons-last-screen {
    text-align: right;
    margin-bottom: 2rem;

}

i {
    font-size: 1.5rem;
}
.nav-tabs {
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

